


body {
    background-color: lightblue;
}
/* start of festivals page*/
 p1{
   color: white;
   font-size: 30px;

 }

p2,p4,p6,p8,p10{

   color:white;
   font-size: 40px;
 }


 img{
   width: 60%;
   border: #000000 2px solid;
 }


/*end of festivals page*/

h1 {
    color: #FFC300;


    font-family: monospace;
    font-size: 40px;


}

h2 {
    font-family: arial;
    font-size: 15px;
    color: Blue;
}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>



* {box-sizing: border-box}
body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 6px solid white;
    background-color: #FFC300;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 6px;
    transition: 0.2s;
    font-size: 17px;
    font-family: monospace;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:#FFDC86;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid ;
    border-top: none;
}
</style>
</head>
</body>
