<meta name="viewport" content="width=device-width, initial-scale=1">
h1 {
    color: #FFC300;


    font-family: monospace;
    font-size: 40px;


}

h2 {
    font-family: monospace;
    font-size: 30px;
    color: #FFC300;
}
h3 {
    font-family: monospace;
    font-size: 20px;
    color: red;
}
/* start of festivals page*/
 p1{
   color: white;
   font-size: 30px;

 }

p2,p4,p6,p8,p10{

   color:white;
   font-size: 40px;
 }


 img{
   width: 60%;

 }




/*The buttons on a map*/
.container1 {
    position: relative;
    width: 100%;
    max-width: 1200vh;
}
.container1 img {

    margin-top: 70px;
    width: 100%;
    height: auto;
}
/*ASIA*/
.container1 .btn1 {
    position: absolute;
    top: 40%;
    left: 69%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    color: white;

}

.container1 .btn1:hover {
    background-color: white;
}

/*North America*/
.container1 .btn2 {
    position: absolute;
    top: 40%;
    left: 19%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    color: white;

}

.container1 .btn2:hover {
    background-color: gray;
}

/*S.A.*/
.container1 .btn4 {
    position: absolute;
    top: 72%;
    left: 31.3%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    color: white;

}

.container1 .btn4:hover {
    background-color: gray;
}

/*Europe*/
.container1 .btn5 {
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    color: white ;

}

.container1 .btn5:hover {
    background-color: gray;
}
/*Africa*/
.container1 .btn6 {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    color: white;

}

.container1 .btn6:hover {
    background-color: gray;
}

/*Australia*/
.container1 .btn7 {
    position: absolute;
    top: 81%;
    left: 83.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    color: white;

}

.container1 .btn7:hover {
    background-color: gray;
}
/* This is where the button css ends!!!!!*/


img {

  vertical-align: middle;
}


/* Position the image container (needed to position the left and right arrows) */
.container {
  width: 900px;
  position: relative;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
.prev{
  margin-left: -50%;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;

}





body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://phgcdn.com/images/uploads/experiences/Art_n_Culture_Masthead_1200x645.jpg);
  background-size: cover;
  height: 30vh;
  margin-top:-60px;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}







/*THIS IS WHERE THE TAB STARTS*/
* {box-sizing: border-box}
body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 10px solid white;
    background-color: #FFC300;
    color:white ;
    width: 100%;
    float: center;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 6px;
    transition: 0.2s;
    font-size: 17px;
    font-family: monospace;

}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #D6EAF8  ;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:#EC7063;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid ;
    border-top: none;
}

body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
    }
/*THIS IS WHERE THE BACK TO THE TOP BUTTON STARTS*/
    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #D6EAF8;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }

    #myBtn:hover {
      background-color: #555;
    }
